.redes{
    width: 100%;
}

.like{
    width: 2em;
}

.like img{
    width: 100%;
}

.contComentario{
    border: 2px solid #343c3e; 
    border-radius: 10px; 
    padding: 10px; 
}



textarea{
    border: 2px solid #343c3e !important;

}

.comentario {
    overflow-wrap: break-word; 
    word-break: break-all;
}