.redes{
    width: 100%;
}

.like{
    width: 2em;
}

.like img{
    width: 100%;
}

.contComentario{
    background-color: rgb(217, 222, 223);
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 25px;
}



textarea{
    border: 2px solid #343c3e !important;

}

.comentario {
    overflow-wrap: break-word; 
    word-break: break-all;
}

#enviarComentario:disabled {
    background-color: rgb(191, 200, 202) !important;
}