<li class=" list-group-item mb-3 mt-3 p-3 border-0 bg-dark" th:each ="operacion, iterador : ${carteles}">
    <div class=" tituloDenunciaCartel row text-center text-light">
      <h1 th:text="'Denuncia cartel: '+${operacion.getIdReporte()}+''" >Denuncia cartel: [ID]</h1>
    </div>
    <div class="row colorFondo">
      <div class="col-6">
        <p>Cartel</p>
      </div>
      <div class="col-6">
        <a th:href="@{'/publicacion?idCartel='+${operacion.getIdCartel()}+''}" id="enlace"><p><span th:text="${operacion.getTipoCartel()}">[Tipo cartel]</span>: <span th:text="${operacion.getNombreAnimal()}">[Nombre de la mascota]</span> <i><span th:text="${operacion.getFechaPublicacion()}">[Fecha]</span></i></p></a>
      </div>
    </div>
    <div class="row colorFondo">
      <div class="col-6">
        <p>Denunciante</p>
      </div>
      <div class="col-6">
        <a th:href="@{'/perfil?nick='+${operacion.getDenunciante()}+''}"><p th:text="${operacion.getDenunciante()}">[Nick denunciante]</p></a>
      </div>
      </div>
    <div class="row colorFondo">
      <div class="col-6">
        <p>Denunciado</p>
      </div>
      <div class="col-6">
        <a th:href="@{'/perfil?nick='+${operacion.getDenunciado()}+''}"><p th:text="${operacion.getDenunciado()}">[Nick denunciado]</p></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col text-light">
        <h2>Motivo de la denuncia</h2>
      </div>
    </div>
    <div class="row colorFondo">
      <p th:text="${operacion.getMotivo()}">[Texto]</p>
    </div>
    <div class="row mt-3 justify-content-center">
      <button type="button" id="botonResueltoReporteCartel" th:data-idReporteCartel="${operacion.getIdReporte()}" class="btn adapBtn btn-success">Marcar como resuelto</button>
    </div>
</li>