<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/ccs/navegador.css" rel="stylesheet">
    <title>Joining Footprints</title>
</head>
<body class="color1">
  <nav class="navbar navbar-expand-xxl fixed-top custom-formatoTexto color2">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="/static/img/logo1.png" class="logo" alt="Logo" height="30">
        </a>
        <!-- Boton que aparece cuando se baja la resolucion -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido de la barra de navegacion -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 color-hover">
                <!-- Opciones de navegacion -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carteles
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Desapareción</a></li>
                        <li><a class="dropdown-item" href="#">Adopción</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Ultimos</a></li>
                        <li><a class="dropdown-item" href="#">Viejos</a></li>
                        <li><a class="dropdown-item" href="#">Aleotorios</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comunidad</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle colorAutenticado" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Publicar
                  </a>
                  <ul class="dropdown-menu colorAutenticado">
                      <li><a class="dropdown-item" href="#">Desapareción</a></li>
                      <li><a class="dropdown-item" href="#">Adopción</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link colorAutenticado" href="#">Mensajes</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle colorAutenticado" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Moderar
                  </a>
                  <ul class="dropdown-menu colorAutenticado">
                      <li><a class="dropdown-item" href="#">Solicitudes</a></li>
                      <li><a class="dropdown-item" href="#">Incidencias</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link colorAutenticado" href="#">Administrar</a>
                </li>
              
            </ul>

            <!-- Barra de búsqueda -->
       
            <form class="d-flex color-hover" role="search">
              <input class="form-control me-2 custom-formatoTexto" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success me-2 custom-formatoTexto" type="submit">Buscar</button>
              <button class="btn btn-outline-success me-2 custom-formatoTexto" type="submit">Filtrar</button>
            </form>
    
            

            <!-- Botones de autenticacion -->
            <ul class="navbar-nav ms-lg-auto color-hover">
              <li class="nav-item">
                <a class="nav-link colorRegistro" href="#">Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link colorRegistro" href="#">Iniciar sesión</a>
              </li>
              <!-- 
              <li class="nav-item">
                <a class="nav-link" href="#">[Nombre de perfil]</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cerrar sesión</a>
              </li>
               -->
            </ul>

            
        </div>
    </div>
</nav>
  <!-- Contenido de la pagina principal -->
  <div class="container">
    <div class="bg-light row pt-5 pb-5">



      <div class="row d-flex align-items-center justify-content-center mb-5 mt-5"> 
        <!-- Usuario y fecha de publicación -->
        <div class="col-10 pb-2" style="background-color: rgb(255, 0, 55);">
          Usuario: Paco
        </div>
        <!-- Cartel -->
        <div class="text-center col-10" style="background-color: rgb(255, 0, 55);">
          <img src="/static/img/cartel1.jpg" class="img-fluid" srcset=""></div>
        <!-- Botones de compartir -->
        <div class="col-10" style="background-color: rgb(0, 255, 183);">
          Redes sociales
        </div>
      </div>



      <div class="row d-flex align-items-center justify-content-center mb-5 mt-5"> 
        <div class="col-7 pb-2" style="background-color: rgb(255, 0, 55);">
          Usuario: Paco
        </div>
        <div class="text-center col-7" style="background-color: rgb(255, 0, 55);">
          <img src="/static/img/cartel3.jpg" class="img-fluid" alt="" srcset=""></div>
        <div class="col-7" style="background-color: rgb(0, 255, 183);">
          Redes sociales
        </div>
      </div>


    </div>
  </div>
</body>
</html>