<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/ccs/formatoColores.css}" rel="stylesheet">
    <link th:href="@{/ccs/navegador.css}" rel="stylesheet">
    <link th:href="@{/ccs/index.css}" rel="stylesheet">
    <title>Joining Footprints | Últimos</title>
</head>
<body class="color1 d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-xxl custom-formatoTexto color2">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" th:href="@{/index}">
            <img th:src="@{/img/logo1.png}" class="logo" alt="Logo" height="30">
        </a>
        <!-- Boton que aparece cuando se baja la resolucion -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido de la barra de navegacion -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 color-hover">
                <!-- Botones sin autenticar -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index}">Últimos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carteles
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Desapareción</a></li>
                        <li><a class="dropdown-item" href="#">Adopción</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Viejos</a></li>
                        <li><a class="dropdown-item" href="#">Aleotorios</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/comunidad}">Comunidad</a>
                </li>
            </ul>

            <!-- Botones de autenticacion y opciones para autenticados -->
            <ul class="navbar-nav ms-lg-auto color-hover">
              <li class="nav-item">
                <a class="nav-link colorAutenticado" th:href="@{/administrar}" sec:authorize="hasAnyRole('administrador')">Administrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link colorAutenticado" th:href="@{/moderar}" sec:authorize="hasAnyRole('moderador')">Moderar</a>
              </li>
              <li class="nav-item dropdown" sec:authorize="hasAnyRole('usuario')">
                <a class="nav-link dropdown-toggle colorAutenticado" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Publicar
                </a>
                <ul class="dropdown-menu colorAutenticado">
                    <li><a class="dropdown-item" th:href="@{/publicar1_1}">Desapareción</a></li>
                    <li><a class="dropdown-item" th:href="@{/publicar2_1}">Adopción</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link colorAutenticado" href="#" sec:authorize="hasAnyRole('usuario')">Mensajes</a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link colorRegistro" th:href="@{/registro}">Registrarse</a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link colorRegistro" th:href="@{/login}">Iniciar sesión</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/perfil?nick='+${usuarioActual.getNick()}+''}">Mi perfil</a>
              </li>
              <form th:action="@{/logout}" method="post" id="logoutForm" sec:authorize="isAuthenticated()">
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">Cerrar sesión</a>
              </li>
              </form>
              
            </ul> 
        </div>
    </div>
  </nav>
  <!-- Contenido de la pagina principal -->
  <div class="container flex-grow-1 d-flex justify-content-center formatoTexto bg-light">
    <div class="row w-100">
      <div class="col-12">
        <div class="row">
          <h5 class="text-center mt-1">Últimos</h5>
          <!-- Alerta -->
          <div th:if="${confirmacionBorrado}" class="alert alert-success fade show d-flex align-items-center" role="alert">
            <p class="m-0 flex-grow-1 text-success">La publicación ha sido borrada con exito</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <form class="d-flex mt-1 mb-1" role="search">
            <input id="buscador" class="form-control me-2" type="search" placeholder="Buscar carteles" aria-label="Search">
            <!-- Boton para el filtro Modal-->
            <button class="btn btn-outline-success" type="button"  data-bs-toggle="modal" data-bs-target="#filtroModal">Filtrar</button>
          </form>
        </div>
        <div class="row">
          <ul class="list-group list-unstyled" id="listaCarteles">

            <!-- Contenido en bucle -->
            

            <!-- fin contenido en bucle -->

          </ul>
          <div class="row align-items-center justify-content-center mb-3">
    		    <div class="col-2 text-center">
        		  <button id="btnAnterior" class="btn btn-primary" hidden>Anterior</button>
    		    </div>
    		    <div class="col-2 text-center">
				      <button id="btnSiguiente" class="btn btn-primary" hidden>Siguiente</button>
    		    </div>
		      </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pie de pagina -->
  <footer class="bg-dark text-light text-center">
    <div class="container">
      <div class="row">
        <p style="margin: auto;">© 2024 - Víctor | Kevin</p>
      </div>
    </div>
  </footer>

  <!-- Ventana Modal para el filtro -->
  <div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filtroModalLabel">Filtrar carteles</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
         <div class="modal-body">
         	[Formulario]
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" id="botonFiltrarCarteles" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/js/index/cargarCarteles.js}"></script>
</body>
</html>