<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" th:action="@{/logginprocess}">
                 <div>
                    <label>Nombre de usuario</label>
                    <input type="text" name="username" class="form-control" placeholder="User Name">
                 </div>
                 <div>
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                 </div>
                 <button type="submit">Entrar</button>
                 <a href="#">Ayuda</a>
                 <div><p style="font-size:16px;color:green;" th:if="${param.creado}">Se te ha registrado inicia sesion</p></div>
                 <div><p style="font-size:16px;color:red;" th:if="${param.error}">Validación incorrecta</p></div>
    </form>
</body>
</html>