<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" th:action="@{/crearUsuario}">
                 <div>
                    <label>Nombre de usuario</label>
                    <input type="text" name="nombreUsuario" class="form-control" placeholder="User Name">
                 </div>
                 <div>
                    <label>Nick de usuario</label>
                    <input type="text" name="nick">
                 </div>
                 <div>
                    <label>Contraseña</label>
                    <input type="password" name="contrasena" class="form-control" placeholder="Password">
                 </div>
                  <div>
                    <label>Repetir Contraseña</label>
                    <input type="password" name="contrasenaRe" class="form-control" placeholder="Password">
                 </div>
                 <div>
                    <label>Correo</label>
                    <input type="email" name="correo">
                 </div>
                    <div>
                    <label>Repetir Correo</label>
                    <input type="email" name="correoRe">
                 </div>
                 <div>
                    <label>Fecha nacimiento</label>
                    <input type="date" name="Fnacimiento">
                 </div>
                 <div>
                    <label>Zona Geografica</label>
                    <input type="text" name="zonaGeografica">
                 </div>
                 <button type="submit">Registrarse</button>
                 <div><p style="font-size:16px;color:red;" th:if="${param.errorcreado}" th:text="${msgError}">No se pudo crear el usuario</p></div>
                 <div><p style="font-size:16px;color:green;" th:if="${param.creado}">Se creo el usuario</p></div>
    </form>
</body>
</html>