<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/ccs/formatoColores.css}" rel="stylesheet">
    <link th:href="@{/ccs/navegador.css}" rel="stylesheet">
    <link th:href="@{/ccs/moderar.css}" rel="stylesheet">
    <title>Joining Footprints</title>
</head>
<body class="color1 d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-xxl custom-formatoTexto color2">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/logo1.png}" class="logo" alt="Logo" height="30">
        </a>
        <!-- Boton que aparece cuando se baja la resolucion -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido de la barra de navegacion -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 color-hover">
                <!-- Botones sin autenticar -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index}">Últimos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carteles
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Desapareción</a></li>
                        <li><a class="dropdown-item" href="#">Adopción</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Viejos</a></li>
                        <li><a class="dropdown-item" href="#">Aleotorios</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/comunidad}">Comunidad</a>
                </li>
            </ul>

            <!-- Botones de autenticacion y opciones para autenticados -->
            <ul class="navbar-nav ms-lg-auto color-hover">
              <li class="nav-item">
                <a class="nav-link colorAutenticado" th:href="@{/administrar}" sec:authorize="hasAnyRole('administrador')">Administrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link colorAutenticado" th:href="@{/moderar}" sec:authorize="hasAnyRole('moderador')">Moderar</a>
              </li>
              <li class="nav-item dropdown" sec:authorize="hasAnyRole('usuario')">
                <a class="nav-link dropdown-toggle colorAutenticado" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Publicar
                </a>
                <ul class="dropdown-menu colorAutenticado">
                    <li><a class="dropdown-item" th:href="@{/publicar1_1}">Desapareción</a></li>
                    <li><a class="dropdown-item" th:href="@{/publicar2_1}">Adopción</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link colorAutenticado" href="#" sec:authorize="hasAnyRole('usuario')">Mensajes</a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link colorRegistro" th:href="@{/registro}">Registrarse</a>
              </li>
              <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link colorRegistro" th:href="@{/login}">Iniciar sesión</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/perfil?nick='+${usuarioActual.getNick()}+''}">Mi perfil</a>
              </li>
              <form th:action="@{/logout}" method="post" id="logoutForm" sec:authorize="isAuthenticated()">
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">Cerrar sesión</a>
              </li>
              </form>
              
            </ul> 
        </div>
    </div>
  </nav>
  <!-- Contenido de la pagina principal -->
  <div class="container flex-grow-1 d-flex align-items-center justify-content-center formatoTexto" style="background-color: aliceblue;">
    <div class="row w-100 justify-content-center">
        <div class="col-12 text-center">
            <h5 class="m-1">Moderar</h5>
        </div>
        <div class="row">
          <div class="container">
            <ul class="nav nav-tabs color-hover" id="myTabs">
              <!-- Primera pestaña de solicitudes de carteles -->
              <li class="nav-item">
                <a class="nav-link text-dark active fondo1" id="tab1-tab" data-bs-toggle="tab" href="#tab1">Solicitudes carteles <span>(0)</span></a>
              </li>
              <!-- Segunda pestaña de denuncias de carteles -->
              <li class="nav-item">
                <a class="nav-link text-dark fondo2" id="tab2-tab" data-bs-toggle="tab" href="#tab2">Denuncias carteles <span>(0)</span> </a>
              </li>
              <!-- Tercera pestaña de denuncias de comentarios -->
              <li class="nav-item">
                <a class="nav-link text-dark fondo3" id="tab3-tab" data-bs-toggle="tab" href="#tab3">Denuncias comentarios <span>(0)</span> </a>
              </li>
            </ul>
            <div class="tab-content mt-2">
              <!-- Primer contenido de solicitudes de carteles -->
              <div class="tab-pane fade show active" id="tab1">
                <div class="card flex-grow-1 fondo1">
                  <div class="contenidoScroll card-body overflow-auto">
                      <!-- Contenido con scroll -->
                      <div class="container-fluid">
                        <div class="row pb-5">
                          <ul class="list-group list-unstyled publicaciones" id="listaCarteles">

                            <!-- Contenido en bucle -->

                            <li class="list-group-item" id="contenidoLista" th:each ="operacion, iterador : ${carteles}">
                              <hr>
                              <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-10 mb-1">
                                    <div class="row">
                                        <div class="col d-flex justify-content-start">
                                            <h3>Solicitud de <a th:href="@{'/perfil?nick='+${operacion.getNick()}+''}" th:text="${operacion.getNick()}">[NICK]</a>: <span th:text="${operacion.getId()}">[ID]</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cartel -->
                                <div class="contCartel text-center col-10">
                                  <img th:src="@{${operacion.getFoto()}}" class="img-fluid w-60" alt="cartel">
                                </div>
                                <!-- Botones de aprobar/rechazar -->
                                <div class="col-10">
                        
                                  <div class="row">
                                    <div class="col-6 justify-content-end">
                                      <button type="button" class="btn adapBtn btn-success mt-2 w-100">Aprobar</button>
                                    </div>
                                    <div class="col-6 d-flex align-items-end justify-content-end">
                                      <button type="button" class="btn adapBtn btn-danger mt-2 w-100">Rechazar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr>
                            </li>

                            <!-- Fin del contenido contenido en bucle -->

                          </ul>
                        </div>
                      </div>
                      <!-- Fin del contenido con scroll -->
                  </div>
                </div>
              </div>
              <!-- Segundo contenido de denuncias de carteles -->
              <div class="tab-pane fade" id="tab2">
                <div class="card flex-grow-1 fondo2">
                  <div class="contenidoScroll card-body overflow-auto">
                      <!-- Contenido con scroll -->
                      <div class="container-fluid contDenuncia">
                        <div class="row pb-5">
                          <ul class="list-group list-unstyled">

                            <!-- Contenido en bucle -->

                            <li class=" list-group-item mb-3 mt-3 p-3 border-0 bg-dark">
                              <div class=" tituloDenunciaCartel row text-center text-light">
                                <h1>Denuncia cartel: [ID]</h1>
                              </div>
                              <div class="row colorFondo">
                                <div class="col-6">
                                  <p>Cartel</p>
                                </div>
                                <div class="col-6">
                                  <a href="#" id="enlace"><p><span>[Tipo cartel]</span>: <span>[Nombre de la mascota]</span> <i><span>[Fecha]</span></i></p></a>
                                </div>
                              </div>
                              <div class="row colorFondo">
                                <div class="col-6">
                                  <p>Denunciante</p>
                                </div>
                                <div class="col-6">
                                  <a href="#"><p>[Nick denunciante]</p></a>
                                </div>
                                </div>
                              <div class="row colorFondo">
                                <div class="col-6">
                                  <p>Denunciado</p>
                                </div>
                                <div class="col-6">
                                  <a href="#"><p>[Nick denunciado]</p></a>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col text-light">
                                  <h2>Motivo de la denuncia</h2>
                                </div>
                              </div>
                              <div class="row colorFondo">
                                <p>[Texto]</p>
                              </div>
                              <div class="row mt-3 justify-content-center">
                                <button type="button" class="btn adapBtn btn-success">Marcar como resuelto</button>
                              </div>
                            </li>

                            <!-- Fin del contenido contenido en bucle -->

                          </ul>
                        </div>
                      </div>
                      <!-- Fin del contenido con scroll -->
                  </div>
                </div>
              </div>
              <!-- tercer contenido de denuncias de comentarios -->
              <div class="tab-pane fade" id="tab3">
                <div class="card flex-grow-1 fondo3">
                  <div class="contenidoScroll card-body overflow-auto">
                      <!-- Contenido con scroll -->
                      <div class="container-fluid contDenuncia">
                        <div class="row pb-5">
                          <ul class="list-group list-unstyled publicaciones">

                            <!-- Contenido en bucle -->

                            <li class=" list-group-item mb-3 mt-3 p-3 border-0 bg-dark">
                              <div class=" tituloDenunciaCartel row text-center text-light">
                                <h1>Denuncia comentario: [ID]</h1>
                              </div>
                              <div class="row colorFondo2">
                                <div class="col-6">
                                  <p>Alojado</p>
                                </div>
                                <div class="col-6">
                                  <a href="#" id="enlace"><p><span>[Tipo cartel]</span>: <span>[Nombre de la mascota]</span> <i><span>[Fecha]</span></i></p></a>
                                </div>
                              </div>
                              <div class="row colorFondo2">
                                <div class="col-6">
                                  <p>Denunciante</p>
                                </div>
                                <div class="col-6">
                                  <a href="#"><p>[Nick denunciante]</p></a>
                                </div>
                                </div>
                              <div class="row colorFondo2">
                                <div class="col-6">
                                  <p>Denunciado</p>
                                </div>
                                <div class="col-6">
                                  <a href="#"><p>[Nick denunciado]</p></a>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col text-light">
                                  <h2>Comentario en cuestión</h2>
                                </div>
                              </div>
                              <div class="row colorFondo2">
                                <p>[Texto]</p>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col text-light">
                                  <h2>Motivo de la denuncia</h2>
                                </div>
                              </div>
                              <div class="row colorFondo2">
                                <p>[Texto]</p>
                              </div>
                              <div class="row mt-3 justify-content-center">
                                <button type="button" class="btn adapBtn btn-success">Marcar como resuelto</button>
                              </div>
                            </li>

                            <!-- Fin del contenido contenido en bucle -->

                          </ul>
                        </div>
                      </div>
                      <!-- Fin del contenido con scroll -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <!-- Pie de pagina -->
  <footer class="bg-dark text-light text-center">
    <div class="container">
      <div class="row">
        <p style="margin: auto;">© 2024 - Víctor | Kevin</p>
      </div>
    </div>
  </footer>

 <!-- Ventana Modal para mensajePrivado -->
  <form>
    <div class="modal fade" id="mensajePrivadoModal" tabindex="-1" aria-labelledby="mensajePrivadoModalLabel" aria-hidden="true">
      <div class="modal-dialog d-flex align-items-center modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mensajePrivadoModalLabel">Mensaje</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" id="mensaje" rows="3"></textarea>    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/js/moderar/moderar.js}"></script>
</body>
</html>