<li class="list-group-item text-center mb-3 mt-3 p-3" th:each ="operacion, iterador : ${cartelesResueltos}">
    <a href="#" id="enlace"><h1><span th:text="${openracion.getTipoCartel()}">[Tipo cartel]</span>: <span th:text="${openracion.getNombreAnimal}">[Nombre de la mascota]</span> <i><span th:text="${openracion.getFechaPublicacion()}">[Fecha]</span></i></h1></a>
    <!-- botones que solo lo puede ver el usuario publicador -->
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-danger w-100">No resuelto...</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger w-100">Borrar</button>
      </div>
    </div>
  </li>