<li class=" list-group-item mb-3 mt-3 p-3 border-0 bg-dark">
    <div class=" tituloDenunciaCartel row text-center text-light">
      <h1>Denuncia comentario: [ID]</h1>
    </div>
    <div class="row colorFondo2">
      <div class="col-6">
        <p>Alojado</p>
      </div>
      <div class="col-6">
        <a href="#" id="enlace"><p><span>[Tipo cartel]</span>: <span>[Nombre de la mascota]</span> <i><span>[Fecha]</span></i></p></a>
      </div>
    </div>
    <div class="row colorFondo2">
      <div class="col-6">
        <p>Denunciante</p>
      </div>
      <div class="col-6">
        <a href="#"><p>[Nick denunciante]</p></a>
      </div>
      </div>
    <div class="row colorFondo2">
      <div class="col-6">
        <p>Denunciado</p>
      </div>
      <div class="col-6">
        <a href="#"><p>[Nick denunciado]</p></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col text-light">
        <h2>Comentario en cuestión</h2>
      </div>
    </div>
    <div class="row colorFondo2">
      <p>[Texto]</p>
    </div>
    <hr>
    <div class="row">
      <div class="col text-light">
        <h2>Motivo de la denuncia</h2>
      </div>
    </div>
    <div class="row colorFondo2">
      <p>[Texto]</p>
    </div>
    <div class="row mt-3 justify-content-center">
      <button type="button" class="btn adapBtn btn-success">Marcar como resuelto</button>
    </div>
  </li>